[MAIN]
output=output
reads_1=
reads_2=
untargeted=
targeted=
keepgoing=False
keep_temp=False

[GENOME]
genome=
gtf=

[KRAKEN2]
kraken=False
database=

[INSERTION]
granularity=500
threads=1
max_mem=16G
min_matches=1
start=all
mitochondrial=False
stringency=0.005
spurious_filtering_threshold=0.00001

[CNV]
manual_plots=False
bin_size=100000

[VARIANT]
variant_calling=["placeholder","placeholder"]
variant_intensity=MODERATE
variant_window_size=10000

[OTHER]
min_quality=3